<div class="site-wrapper">

  <div class="site-wrapper-inner">

    <div class="cover-container">

      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand">Cortex</h3>
          <nav class="nav nav-masthead">
            <a class="nav-link active" href="#">Home</a>
            <a class="nav-link" href="#">Features</a>
            <a class="nav-link" href="#">Contact</a>
          </nav>
        </div>
      </div>

      <div class="inner cover">
        <h1 class="cover-heading">Cover your page.</h1>
        <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
        <p class="lead">
          <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
        </p>
      </div>

<!--       <div class="row">
        <div class="form-group">
          <input type="text" class="form-control input-lg ">
        </div>
      </div>
 -->

      <div id="the-basics">
        <input class="form-control input-lg typeahead main-search" type="text" placeholder="Search">
      </div>
      <div class="mastfoot">
        <div class="inner">
          <p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
        </div>
      </div>

    </div>

  </div>

</div>

<script id="result-template" type="text/x-handlebars-template">
  <div class="ProfileCard u-cf">
    <img class="ProfileCard-avatar" src="https://image.tmdb.org/t/p/w45{{poster_path}}">

    <div class="ProfileCard-details">
      <div class="ProfileCard-realName">{{title}}</div>
      <div class="ProfileCard-screenName">{{release_date}}</div>
      <div class="ProfileCard-description">{{description}}</div>
    </div>

    <div class="ProfileCard-stats">
      <div class="ProfileCard-stat"><span class="ProfileCard-stat-label">Tweets:</span> {{statuses_count}}</div>
      <div class="ProfileCard-stat"><span class="ProfileCard-stat-label">Following:</span> {{friends_count}}</div>
      <div class="ProfileCard-stat"><span class="ProfileCard-stat-label">Followers:</span> {{followers_count}}</div>
    </div>
  </div>
</script>

<script id="empty-template" type="text/x-handlebars-template">
  <div class="EmptyMessage">Your search turned up 0 results. This most likely means the backend is down, yikes!</div>
</script>

