<script>jwplayer.key="hk/6w6dTRxwMZsPOJp05hVz/N4NuqIp5h8zQrg==";</script>
<div id='myElement'>Loading the player ...</div>
<script type='text/javascript'>
var playerInstance = jwplayer('myElement');
  playerInstance.setup({
    file: 'http://91.195.99.75:8777/k6ceg6yebo4pcnokaiwclnw47dtxquw3ecmwyjwkagkrtzvzrv6h2zycwq/v.mp4',
    image: '/uploads/example.jpg'
  });
</script>

<div class="bs-docs-section">
  <div class="row">
    <div class="Typeahead">
      <input class="form-control input-lg typeahead main-search" type="text" placeholder="Search">
      <%= image_tag('spinner.gif', class: 'Typeahead-spinner') %>
    </div>
<!--     <%# cache('dashboard_movies', :expires_in => 1.hour) do %>
      <div class="col-lg-6">
        <h2>Popular Movies</h2>
        <%# Movie.with_state(:popular).with_images.each do |movie| %>
          <%#= link_to image_tag(movie.poster), movie_path(movie) %>
        <%# end %>
        <h2>Now Playing Movies</h2>
        <%# Movie.with_state(:now_playing).with_images.each do |movie| %>
          <%#= link_to image_tag(movie.poster), movie_path(movie) %>
        <%# end %>
      </div>
      <div class="col-lg-6">
        <h2>Upcoming Movies</h2>
        <%# Movie.with_state(:upcoming).with_images.each do |movie| %>
          <%#= link_to image_tag(movie.poster), movie_path(movie) %>
        <%# end %>
        <h2>Top Rated</h2>
        <%# Movie.with_state(:top_rated).with_images.each do |movie| %>
          <%#= link_to image_tag(movie.poster), movie_path(movie) %>
        <%# end %>
      </div>
    <%# end %> -->
    <div class="col-lg-12">
      <% Movie.all.with_images.latest.each do |movie| %>
        <%= link_to image_tag(movie.poster), movie_path(movie) %>
      <% end %>
    </div>
  </div>
</div>

<script id="result-template" type="text/x-handlebars-template">
  <div class="ProfileCard u-cf">
    <img class="ProfileCard-avatar" src="https://image.tmdb.org/t/p/w45{{poster_path}}">

    <div class="ProfileCard-details">
      <div class="ProfileCard-realName">{{title}}</div>
      <div class="ProfileCard-screenName">({{release_date_year}})</div>
      <div class="ProfileCard-description">{{overview}}</div>
    </div>
    <div class="ProfileCard-stats">
      <div class="ProfileCard-stat"><span class="ProfileCard-stat-label">Runtime:</span> {{runtime}}</div>
      <div class="ProfileCard-stat"><span class="ProfileCard-stat-label">Revenue:</span> {{revenue}}</div>
      <div class="ProfileCard-stat"><span class="ProfileCard-stat-label">Favorites:</span> 0</div>
    </div>
  </div>
</script>

<script id="empty-template" type="text/x-handlebars-template">
  <div class="EmptyMessage">Your search turned up 0 results. This most likely means the backend is down, yikes!</div>
</script>
