default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5
  timeout: 5000

development:
  <<: *default
  database: metacortex_development

test:
  <<: *default
  database: metacortex_test

production:
  <<: *default
  database: metacortex_production
