/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.form-control {
  border: 0.5rem solid #8A2BE2;
}

span.twitter-typeahead {
  width: 100%;
}
.input-group span.twitter-typeahead {
  display: block !important;
}
.input-group span.twitter-typeahead .tt-menu {
  top: 32px !important;
}
.input-group.input-group-lg span.twitter-typeahead .tt-menu {
  top: 44px !important;
}
.input-group.input-group-sm span.twitter-typeahead .tt-menu {
  top: 28px !important;
}

.Typeahead {
  position: relative;
  *z-index: 1;
  width: 500px;
  margin: 50px auto 0 auto;
  padding: 15px;
  text-align: left;
  background-color: #0097cf;
  background-image: -moz-linear-gradient(top, #04a2dd, #03739c);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#04a2dd), to(#03739c));
  background-image: -webkit-linear-gradient(top, #04a2dd, #03739c);
  background-image: -o-linear-gradient(top, #04a2dd, #03739c);
  background-image: linear-gradient(top, #04a2dd, #03739c);
  background-repeat: repeat-x;
  border: 1px solid #024e6a;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
  -webkit-box-shadow: 0 0 2px #111;
     -moz-box-shadow: 0 0 2px #111;
          box-shadow: 0 0 2px #111;
}

.Typeahead-spinner {
  position: absolute;
  top: 7px;
  right: 7px;
  display: none;
  width: 28px;
  height: 28px;
}

.Typeahead-hint,
.Typeahead-input {
  width: 100%;
  padding: 5px 8px;
  font-size: 24px;
  line-height: 30px;
  border: 1px solid #024e6a;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
}

.Typeahead-hint {
  position: absolute;
  top: 0;
  left: 0;
  color: #ccd6dd;
  opacity: 1;
}

.Typeahead-input {
  position: relative;
  background-color: transparent;
  background-image: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);
  outline: none;
}

.Typeahead-menu {
  position: absolute;
  top: 95%;
  left: 2.5%;
  z-index: 100;
  display: none;
  width: 95%;
  margin-bottom: 20px;
  overflow: hidden;
  background-color: #fff;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
          box-shadow: 0px 0px 0px 1px green;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.Typeahead-menu.is-open {
  display: block;
}

.Typeahead-selectable {
  cursor: pointer;
}

.Typeahead-selectable + .Typeahead-selectable {
  border-top: 1px solid #ccd6dd;
}

/* ProfileCard */

.ProfileCard {
  position: relative;
  padding: 8px;
}

.ProfileCard-avatar {
  position: absolute;
  top: 8px;
  left: 8px;
  width: 52px;
  height: 52px;
  border: 2px solid #ccd6dd;
  border-radius: 5px;
}

.ProfileCard:hover .ProfileCard-avatar {
  border-color: #f5f8fa;
}

.ProfileCard-details {
  min-height: 60px;
  padding-left: 60px;
}

.ProfileCard-realName,
.ProfileCard-screenName {
  display: inline-block;
}

.ProfileCard-realName {
  font-weight: 700;
}

.ProfileCard-screenName {
  color: #8899a6;
}

.ProfileCard-description {
  margin-top: 5px;
  font-size: 14px;
  line-height: 18px;
}

.ProfileCard-stats {
  float: right;
  text-align: right;
}

.ProfileCard-stat {
  display: inline-block;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
}

.ProfileCard-stat-label {
  color: #8899a6;
  font-weight: 500;
}

.ProfileCard-stat + .ProfileCard-stat {
  margin-left: 5px;
}

.ProfileCard:hover,
.ProfileCard.is-active {
  color: #fff;
  background: #55acee;
}

.ProfileCard:hover .ProfileCard-screenName,
.ProfileCard:hover .ProfileCard-stat-label,
.ProfileCard.is-active .ProfileCard-screenName,
.ProfileCard.is-active .ProfileCard-stat-label {
  color: #fff;
}

/* EmptyMessage */

.EmptyMessage {
  position: relative;
  padding: 10px;
  font-size: 24px;
  line-height: 30px;
  text-align: center;

}

 /*
  * Globals
  */

 /* Links */
 a,
 a:focus,
 a:hover {
   color: #fff;
 }

 /* Custom default button */
 .btn-secondary,
 .btn-secondary:hover,
 .btn-secondary:focus {
   color: #333;
   text-shadow: none; /* Prevent inheritence from `body` */
   background-color: #fff;
   border: .05rem solid #fff;
 }


 /*
  * Base structure
  */

 html,
 body {
   height: 100%;
   background-color: #333;
 }
 body {
   color: #fff;
   text-align: center;
   text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);
 }

 /* Extra markup and styles for table-esque vertical and horizontal centering */
 .site-wrapper {
   display: table;
   width: 100%;
   height: 100%; /* For at least Firefox */
   min-height: 100%;
   -webkit-box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
           box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
 }
 .site-wrapper-inner {
   display: table-cell;
   vertical-align: top;
 }
 .cover-container {
   margin-right: auto;
   margin-left: auto;
 }

 /* Padding for spacing */
 .inner {
   padding: 2rem;
 }


 /*
  * Header
  */

 .masthead {
   margin-bottom: 2rem;
 }

 .masthead-brand {
   margin-bottom: 0;
 }

 .nav-masthead .nav-link {
   padding: .25rem 0;
   font-weight: bold;
   color: rgba(255,255,255,.5);
   background-color: transparent;
   border-bottom: .25rem solid transparent;
 }

 .nav-masthead .nav-link + .nav-link {
   margin-left: 1rem;
 }

 .nav-masthead .active {
   color: #fff;
   border-bottom-color: #fff;
 }

 @media (min-width: 48em) {
   .masthead-brand {
     float: left;
   }
   .nav-masthead {
     float: right;
   }
 }


 /*
  * Cover
  */

 .cover {
   padding: 0 1.5rem;
 }
 .cover .btn-lg {
   padding: .75rem 1.25rem;
   font-weight: bold;
 }


 /*
  * Footer
  */

 .mastfoot {
   color: rgba(255,255,255,.5);
 }


 /*
  * Affix and center
  */

 @media (min-width: 40em) {
   /* Pull out the header and footer */
   .masthead {
     position: fixed;
     top: 0;
   }
   .mastfoot {
     position: fixed;
     bottom: 0;
   }
   /* Start the vertical centering */
   .site-wrapper-inner {
     vertical-align: middle;
   }
   /* Handle the widths */
   .masthead,
   .mastfoot,
   .cover-container {
     width: 100%; /* Must be percentage or pixels for horizontal alignment */
   }
 }

 @media (min-width: 62em) {
   .masthead,
   .mastfoot,
   .cover-container {
     width: 42rem;
   }
 }
